@if(!href)
<button type="submit" href="{{ href }}" class="btn {{ sizeClass }} {{typeClass}} {{colorClass}} {{extraClass}}">
    {{ label }}
</button>
@else
<a class="btn" href="{{ href }}">
    {{{ await $slots.main() }}}
</a>
@end