<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl  ">
        
        <form class="card-body">
          {{{ await $slots.main() }}}
        </form>
      </div>
    </div>
  </div>